<div class="main-content">
  <div class="text-presentation">
    <h1 class="title">Bienvenidos al Futuro de Pucallpa</h1>
    <p class="subtitle">Realidad Aumentada en la Universidad Nacional de Ucayali y la Plaza de Armas</p>
    <p class="description">
      Este proyecto de <strong>realidad aumentada (AR)</strong> marca un hito en la región, impulsado por el talento de la
      <strong>Universidad Nacional de Ucayali (UNU)</strong> y la colaboración activa en uno de los lugares más emblemáticos de la ciudad, la <strong>Plaza de Armas de Pucallpa</strong>.
    </p>
    <p class="call-to-action">¡Súmate a esta visión y sé parte de este cambio tecnológico en Pucallpa! 🚀</p>

    <!-- Botón interactivo -->
    <div class="cta-button-container">
      <button class="cta-button" type="button" (click)="startAdventure()">
        <i class="fas fa-vr-cardboard"></i> ¡Comenzar la Aventura RA! <span class="arrow">→</span>
      </button>
    </div>
  </div>
</div>

<!-- Capa para la animación de transición -->
<div id="transition-overlay" class="transition-overlay"></div>
